ion-header{
    ion-toolbar{
        text-align: center;
    }
}
ion-content{
    padding: 0px;

    .inputSection{
        position:fixed;
        width: 100%;
    }
    ion-button{
        width: 99%;
    }
    .ListSection{
        position: absolute;
        top:225px;
        width: 100%;

        ion-card{
            box-shadow: none;
            margin: 0px;
            padding: 0px;
            width: 100%;

            ion-card-title{
                font-size: 16px;
                line-height: 0;
            }

            ion-card-content{
                display: flex;
                justify-content: space-between;
                p{
                    font-size: 11px;
                }
                .actionbtn{
                    ion-icon{
                        margin-right: 25px;
                    }
                }

                .my-class{
                    color: green;
                }
            }
            
        }
        
    }
}
ion-list{
    margin-bottom: 30px;
}