<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      یادداشت های ضروری
    </ion-title>
    <ion-button slot="end" fill="clear" (click)="menu($event)">
      <ion-icon name="ellipsis-vertical-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="inputSection">
    <ion-item>
      <ion-textarea type="text" [(ngModel)]="inputText" required 
      placeholder="یادداشت های تان را وارد نموده، تاریخ را انتخاب و کلید ذخیره را فشار دهید."></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-input type="date" [(ngModel)]="inputDate"></ion-input>
    </ion-item>
    <ion-button class="block" (click)="save()">زخیره</ion-button>
  </div>
  <div class="ListSection">
    <ion-list>
      <ion-item *ngFor ="let list of lists">
        <ion-card>
          <ion-card-subtitle>
            <p>{{list?.text}}</p>
          </ion-card-subtitle>
          <ion-card-content>
            <p>{{list?.date}}</p>
          <div class="actionbtn">
            <ion-icon name="checkmark-done-outline" [ngStyle]="{color:list.color}" (click)="done(list)"></ion-icon>
            <ion-icon name="trash-outline" color="danger" (click)="remove(list)"></ion-icon>
          </div>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  </div>
</ion-content>