ion-header{
    ion-title{
        text-align: center;
    }
}

ion-content{
    text-align: center;
    
    ion-card{
        margin: 0px;
        text-align: right;
        white-space: pre-line;
        border-left: solid 1px steelblue;
        box-shadow: none;
    }
}