ion-title{
    text-align: center;
}
    .images{
        z-index: 1;
        margin: 0px;
        padding: 0px;
        
    }
    .contents{
        
        white-space: pre-line;
        padding: 5px 10px 5px 10px;
       
        .category{
            color: #ff6600;
            
        }
    }

    